.calc{
    width: 400px;
    height: 425px;
    margin-left: 500px;
    margin-top: 50px;
    background-color: gray;
}
#screen{
    width: 85%;
    height: 50px;
    margin-left: 25px;
    margin-top: 20px;
    pointer-events: none;
    font-size: x-large;
    text-align: right;
}
.button{
    width: 65px;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
    background-color: moccasin;
    font-weight: bolder;
}
.clrbutton{
    width: 65px;
    height: 50px;
    margin-left: 306px;
    background-color: moccasin;
    margin-top: 10px;

}